# rust
/target
/pkg
/src/web/circuitgame_lib.d.ts
/src/web/circuitgame_lib.js

# ts
/node_modules
/src/web/cdom.ts
/src/web/layout.js

# dist
/dist

# lock
/Cargo.lock
/package-lock.json

# note
/note